{% extends 'layout.html' %}

{% block title %}
  Add new OTP
{% endblock %}

{% block heading %}
  Add new OTP
{% endblock %}

{% block content %}
    <div class="w-50 d-inline-block">
      <form action="{{ url_for('add_secret') }}" method="post">
        <div class="mb-3 form-floating">
          <input class="form-control text-center" required type="text" name="issuer" id="issuer" autofocus>
          <small class="form-text text-muted">The name of the website, service, application that you want to save your 2FA OTP for.</small>
          <label for="issuer">Website</label>
        </div>
        <div class="mb-3 form-floating">
          <input class="form-control text-center" type="text" name="account" id="account">
          <label for="account">Account</label>
          <small class="form-text text-muted">Your account name, handle, username.</small>
        </div>
        <div class="mb-3 form-floating">
          <input class="form-control text-center" required type="text" name="secret" id="secret">
          <label for="secret">Secret</label>
          <small class="form-text text-muted">This is <strong style="text-transform: uppercase;">not</strong> your password/pin, this is a special string obtained from the website/application you are creating your OTP for during the OTP (2FA/MFA) setup process.</small>
        </div>
        <div class="mb-3">
          <div class="form-check w-50 mx-auto">
            <input type="radio" name="otp_type" value="totp" id="totp" class="form-check-input" checked>
            <label for="totp" class="form-check-label">Time-Based OTP</label>
          </div>
          <div class="form-check w-50 mx-auto">
            <input type="radio" name="otp_type" value="hotp" id="hotp" class="form-check-input">
            <label for="hotp" class="form-check-label">Counter-Based OTP</label>
          </div>
          <small class="form-text text-muted">"Time-Based OTP" is the most common type, the one you usually see on your Authenticator app.</small>
        </div>
        <div class="mb-3 form-floating">
          <select name="algorithm" id="algorithm" class="form-select">
            <option value="sha1" selected>SHA1</option>
            <option value="sha256">SHA256</option>
            <option value="sha512">SHA512</option>
          </select>
          <label for="algorithm">Algorithm</label>
          <small class="form-text text-muted">If you don't know what to select, leave this at the default "SHA-1".</small>
        </div>
        <div class="mb-3 form-floating">
          <select name="digits" id="digits" class="form-select">
            <option value="6" selected>6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
          <label for="digits">Digits</label>
          <small class="form-text text-muted">The number of digits in your generated OTP.</small>
        </div>
        <div class="mb-3 form-floating" id="period_div">
          <select name="period" id="period" class="form-select">
            <option value="15">15 seconds</option>
            <option value="30" selected>30 seconds</option>
            <option value="60">60 seconds</option>
          </select>
          <label for="period">Period</label>
          <small class="form-text text-muted">The period after which the time-based OTP is no longer valid, and another one will be generated for you.</small>
        </div>
        <div class="mb-3 form-floating" id="counter_div">
          <input class="form-control" type="number" name="counter" id="counter" min="0" value="0">
          <label for="counter">Counter</label>
          <small class="form-text text-muted">The count to start at if you are using counter-based OTP.</small>
        </div>
        <input type="submit" value="Add OTP" class="btn btn-primary" />
      </form>
    </div>

    <style>
        form:has([value="hotp"]:checked) {
          & #period_div {
            display: none;
          }

          & #counter_div {
            display: block;
          }
        }

        form:has([value="totp"]:checked) {
          & #period_div {
            display: block;
          }
          
          & #counter_div {
            display: none;
          }
        }
    </style>
{% endblock %}
