{% extends 'layout.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <div class="otps-wrapper d-flex flex-column align-items-center gap-3">
    {% if s|length > 0 %}
      {% for secret in s %}
        {% if secret.otp_type=="totp" %}
          <div class="otp-wrapper w-75 p-3 border border-primary rounded-3">
            <h2>{{secret.issuer}}{% if secret.account %}: {{ secret.account }}{% endif %}</h2>
            <p class="otp w-100 d-flex justify-content-center"><span>{{ secret.otp[:3 if secret.otp|length == 6 else 4] }}</span><span>{{ secret.otp[(3 if secret.otp|length == 6 else 4) :] }}</span></p>
          </div>
        {% elif secret.otp_type=="hotp" %}
          <div class="otp-wrapper w-75 p-3 border border-primary rounded-3">
            <h2>{{secret.issuer}}{% if secret.account %}: {{ secret.account }}{% endif %}</h2>
            <p class="otp w-100 d-flex justify-content-center"><span>{{ secret.otp[:3 if secret.otp|length == 6 else 4] }}</span><span>{{ secret.otp[(3 if secret.otp|length == 6 else 4) :] }}</span></p>
            <form action="{{ url_for('next_counter' ) }}" method="post">
              <input type="hidden" name="account">
              <input type="hidden" name="issuer">
              <input type="number" name="count" value="{{ secret.counter }}" min="0">
              <input type="submit" value="Generate">
            </form>
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <h2>you don't have any secrets saved yet</h2>
    {% endif %}
    
    <a href="{{ url_for('add_secret' ) }}" class="card-link">Add a new OTP</a>
  </div>

  <script>
    let wrappers = document.querySelectorAll(".otps-wrapper .otp-wrapper")
    if (wrappers.length > 0) {
      wrappers.forEach(wrapper => {
        wrapper.addEventListener("click", () => {
          navigator.clipboard.writeText(wrapper.querySelector(".otp").textContent);
        })
      })
    }

    let refresh_after = parseFloat('{{ refresh_after }}');
    if (!Number.isNaN(refresh_after)) {
      setTimeout(() => {
        location.reload();
      }, (refresh_after + 1) * 1000);
    }
  </script>

  <style>
    h2 {
      font-size: 1.1rem;
      font-weight: 600;
    }

    p.otp {
      font-size: 3.5rem;
      font-weight: 600;
      font-family: monospace;
      line-height: .9;

      & span:not(:first-of-type)::before{
        content: "-";
      }
    }
  </style>
{% endblock %}
