{% extends 'layout.html' %}

{% block content %}
  <div class="otps-wrapper d-flex flex-column align-items-center gap-3">
    {% if s|length > 0 %}
      {% for secret in s %}
        <div class="otp-wrapper w-75 p-3 border border-primary rounded-3 position-relative">
          <h2>{{secret.issuer}}{% if secret.account %}: {{ secret.account }}{% endif %}</h2>
          <div class="otp-actions">
            <form action="{{ url_for('delete_secret') }}" method="post">
              <input type="hidden" name="id" value="{{ secret.id }}">
              <input type="submit" aria-label="delete OTP" class="delete-secret" value="❌">
            </form>
          </div>
          <p class="otp w-100 d-flex justify-content-center"><span>{{ secret.otp[:3 if secret.otp|length == 6 else 4] }}</span><span>{{ secret.otp[(3 if secret.otp|length == 6 else 4) :] }}</span></p>
          {% if secret.otp_type=="hotp" %}
            <form action="{{ url_for('next_counter' ) }}" method="post" class="d-flex justify-content-center gap-2">
              <input type="hidden" required name="id" value="{{ secret.id }}">
              <input type="number" required name="count" class="form-control" value="{{ secret.counter }}" min="0" step="1">
              <input type="submit" class="btn btn-primary" value="Generate">
            </form>
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
      <h2>You don't have any secrets saved yet. <a href="{{ url_for('add_secret' ) }}">Add one...</a></h2>
    {% endif %}
    
    <a href="{{ url_for('add_secret' ) }}" class="fab bg-primary text-light" title="Add a new OTP">+</a>
  </div>

  <script>
    let wrappers = document.querySelectorAll(".otps-wrapper .otp-wrapper p.otp")
    if (wrappers.length > 0) {
      wrappers.forEach(wrapper => {
        wrapper.addEventListener("click", () => {
          const otp = wrapper.textContent;
          navigator.clipboard.writeText(otp);
          if ("Notification" in window) {
            Notification.requestPermission().then(permission => {
              if (permission === "granted") {
                new Notification(`OTP '${otp}' copied to clipboard!`);
              }
            });
          }
        })
      })
    }

    let refresh_after = parseFloat('{{ refresh_after }}');
    if (!Number.isNaN(refresh_after)) {
      setTimeout(() => {
        location.reload();
      }, (refresh_after + 1) * 1000);
    }
  </script>

  <style>
    h2 {
      font-size: 1.1rem;
      font-weight: 600;
    }

    p.otp {
      font-size: 3.5rem;
      font-weight: 600;
      font-family: monospace;
      line-height: .9;

      & span:not(:first-of-type)::before{
        content: "-";
      }
    }

    .fab {
      position: fixed;
      inset: auto 2rem 2rem auto;
      width: 4rem;
      height: 4rem;
      font-size: 2.7rem;
      border-radius: 50%;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease-in-out;
      text-decoration: none;

      &:hover {
        scale: 1.1;
        rotate: 180deg;
      }
    }

    form input[type="number"] {
      width: 4rem;
    }

    .otp-actions {
      display: flex;
      justify-content: center;
      gap: 1rem;

      position: absolute;
      inset: .75rem 1rem auto auto;

      & [type="submit"] {
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  </style>
{% endblock %}
