{% extends 'layout.html' %}

{% set title = "Login" %}

{% set heading = "Login to your account" %}

{% block content %}
  <form action="{{ url_for('login') }}" method="post">
    <div class="mb-3">
      <input type="text" name="username" placeholder="Username" class="form-control mx-auto w-auto" autofocus />
    </div>
    <div class="mb-3">
      <input type="password" name="password" placeholder="Password" class="form-control mx-auto w-auto" />
    </div>
    <input type="submit" value="Login" class="btn btn-primary" />
  </form>
  <p class="mt-5">Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
{% endblock %}